<div class='pageHeader'><h2>Editing Existing Community Night</h2></div>

<%= render 'form', community_night: @community_night %>

<%= link_to 'Show', @community_night %> |
<%= link_to 'Back', community_nights_path %>
