<p id="notice"><%= notice %></p>

<div class='pageHeader'><h2>Community Nights</h2></div>

<br>
<% @community_nights.each do |community_night| %>
  <b><%= link_to community_night.name, community_night %></b> –
  <%= community_night.start.strftime('%b %e %l:%M%P') %>

  <%= link_to 'View Roster', roster_community_night_url(community_night.id) %><br>
<% end %>
<br>
