<div class='pageHeader'><h2>Performance Sets</h2> &emsp; <%= link_to 'Add New Performance Set', new_performance_set_path %></div>

<table>
  <thead>
    <tr>
      <th>Set</th>
    </tr>
  </thead>

  <tbody>
    <% @performance_sets.each do |performance_set| %>
      <tr>
        <td><%= link_to performance_set.extended_name, performance_set %> (<%= link_to "Edit", edit_performance_set_url(performance_set) %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>
