<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @body %>.<br>
    </p>
    <hr>
    <p>This email was sent by <%= @sending_user.name %> through our Membership management system.
       If you believe you have recieved this email in error, please contact them directly, or email info@sfcivicsymphony.org.</p>
  </body>
</html>