<div class='pageHeader'><h2>Membership System Users</h2> &emsp; &emsp; <%= link_to 'Add New User', new_user_registration_path, class: 'button'  %></div>

<br><br>
<h3>Global Admins</h3>
<% @users.where(global_admin: true, is_active: true).order('name').each do |user| %>
  <%= render 'user', user: user %>
<% end %>
<br><br>
<h3>Active Users</h3>
<% @users.where(global_admin: false, is_active: true).order('name').each do |user| %>
  <%= render 'user', user: user %>
<% end %>
<br><br>
<h3>Disabled Accounts</h3>
<% @users.where(is_active: [nil, false]).order('name').each do |user| %>
  <%= render 'user', user: user %>
<% end %>