<h1>Editing Performance Set Date</h1>

<%= render 'form', performance_set_date: @performance_set_date %>

<%= link_to 'Show', @performance_set_date %> |
<%= link_to 'Back', performance_set_dates_path %>
