<h1>Editing Community Night Instrument</h1>

<%= render 'form', community_night_instrument: @community_night_instrument %>

<%= link_to 'Show', @community_night_instrument %> |
<%= link_to 'Back', community_night_instruments_path %>
