<div class='pageHeader'><h2>Record Absence</h2></div>

<% unless current_user %>
  <div class="bigForm">
<% end %>
  <%= render 'form', absence: @absence %>
<% unless current_user %>
  </div>
<% end %>