<div class='pageHeader'><h2>Record an Absence</h2></div>

<% unless current_user %>
  <div class="bigForm">
<% end %>
  <%= render 'form', absence: @absence %>
<% unless current_user %>
  </div>

  <i class='form-disclaimer'>If you have any questions or issues with this form,
  please contact membership@sfcivicsymphony.org</i>
<% end %>