<div class='pageHeader'><h2>Ensembles</h2> &emsp; <%= link_to 'Add New Ensemble', new_ensemble_path %></div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ensembles.each do |ensemble| %>
      <tr>
        <td><%= link_to ensemble.name, ensemble %></td>
        <td><%= ensemble.description %></td>
        <td><%= link_to 'Edit', edit_ensemble_path(ensemble) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
