<div class='pageHeader'><h2>Emails</h2></div>

<% if current_user.global_admin? %>
  <% @emails.each do |email| %>
    <% if email.instruments == '[""]' %>
      <% inst_to_display = "All instruments" %>
    <% else %>
      <% inst_to_display = email.instruments.gsub(/[\"\]\[]/,"") %>
    <% end %>
    <% sent_at = email.sent_at.nil? ? "Unsent" : "Sent at #{email.sent_at.in_time_zone('Pacific Time (US & Canada)')}" %>
    <%= link_to "View Email #{email.email_title} / #{email.performance_set.extended_name} / #{inst_to_display} / #{sent_at}", email %><br>
  <% end %>
<% end %>


<br>

<%= link_to 'New Email', new_email_path %>
