<div class='pageHeader'><h2>Members</h2> &emsp; <%= link_to 'Add New Member', new_member_path %> &emsp; <%= select_tag "instrument_filter", options_for_select(@instruments) %></div>

<table>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to "#{member.first_name} #{member.last_name}", member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
