<div class='pageHeader'><h2>Add New Member</h2></div>

<div class='formDescription'>A member doesn't need to be playing in a group to be added</div>

<%= render 'form', member: @member %><br>

<%= link_to 'Cancel', members_path, class: 'secondaryButton' %>
