<div class='pageHeader'><h2>New Member</h2></div>

<div class='formDescription'>Add a new member. This member may or not be performing with any groups at this time; this can be changed later.</div>

<%= render 'form', member: @member %>

<%= link_to 'Cancel', members_path %>
