
<b>Regular Waiver for all groups: </b><br>
<a href='https://csasf-my.sharepoint.com/personal/dbrews_csasf_onmicrosoft_com/_layouts/15/guestaccess.aspx?docid=090ac5be856e549219f7368c3548d30af&authkey=AUnWMhY3BT4WfynhTniXQQY'>https://csasf-my.sharepoint.com/personal/dbrews_csasf_onmicrosoft_com/_layouts/15/guestaccess.aspx?docid=090ac5be856e549219f7368c3548d30af&authkey=AUnWMhY3BT4WfynhTniXQQY</a>
<br><br>


<b>Abridged Waiver for Community Nights ONLY:</b><br>
<a href='https://csasf-my.sharepoint.com/personal/dbrews_csasf_onmicrosoft_com/_layouts/15/guestaccess.aspx?docid=0d25d7cb7d9bb4077824eee4142dba308&authkey=ATVO7CJECyqKJUl9qus6hW8'>https://csasf-my.sharepoint.com/personal/dbrews_csasf_onmicrosoft_com/_layouts/15/guestaccess.aspx?docid=0d25d7cb7d9bb4077824eee4142dba308&authkey=ATVO7CJECyqKJUl9qus6hW8</a>
<br><br>

